img{
    max-width: 20%;
}

li {
    display: inline;
}

button {
    background-color: green;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    